@import "spacing.css";
@import "display-flex.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #333333;
  color: white;
}

.App {
  min-height: 100vh;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.playlist-list li span {
  font-size: 0.5em;
  line-height: 18px;
  width: 15px !important;
  height: 15px !important;
}

.current-song-img {
  position: relative;
  width: 15rem;
  height: auto;
  z-index: 10;
}

.prev-song-img, .next-song-img {
  position: absolute;
  width: 10rem;
  height: auto;
  margin-top: 2.5rem;
  opacity: 0.5;
  z-index: 0;
}

.flex {
  display: flex;
}

.brand-logo {
  height: calc(64px - 10px);
  margin: 5px 0;
}

.brand-logo img {
  height: 100% !important;
}

.justify-content-between {
  justify-content: space-between;
}

.btn {
  border-radius: 50px;
}

.bold {
  font-weight: bold;
}

.room-back-arrow {
  position: absolute;
  top: 10%;
  left: 15%;
  font-size: 20px;
  font-weight: bold;
  z-index: 1000;
}

.CurrentlyPlaying div {
  position: relative;
}

.prev-song-img {
  top: 0;
  right: 55%;
}

.next-song-img {
  top: 0;
  left: 55%;
}

.vh-100 {
  height: 100vh;
}

.CurrentlyPlaying {
  height: 65%;
}

.Header {
  position: relative;
  z-index: 200;
}

.Header-login {
  width: 100vw;
  height: 200px;
}

.Header-login .logo {
  position: absolute;
  top: 100px;
  left: calc(50% - 100px);
  width: 200px;
  border-radius: 40px;
  box-shadow: 0 10px 10px #333333;
}

.Queue {
  height: 20%;
}

.Queue img {
  width: 100%;
}

.Queue p {
  margin: 0;
}

.Queue .col {
  padding: 0;
  margin: 0 10px;
}

.Queue .card {
  box-shadow: 0 19px 23px rgba(0,0,0,0.5);
}

.Queue .card-content {
  padding: 0;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
  background-color: white;
 
}

.input-field>label {
  color: black;
}

[type="checkbox"]+span:not(.lever):before, [type="checkbox"]:not(.filled-in)+span:not(.lever):after {
  border: 2px solid white;
}

[type="checkbox"]:checked+span:not(.lever):before {
  border-right: 2px solid #ff5722 !important;
  border-bottom: 2px solid #ff5722 !important;
}

.login {
  /*width: 600px;*/
  margin-top: 180px;
  color: white !important;
}

.login .btn-large {
  width: 250px;
}

.login nav .brand-logo.center {
  top: 50%;
  font-size:60px;
}

.login form .image img {
  width: 60px;
}

.dashboard span {
  font-size: 38px;
}

.all-rooms {
  display: grid;
  grid-template-columns: repeat(4, calc(25% - 20px));
  grid-template-rows: auto;
  column-gap: 20px;
}



.singleroom {
  box-shadow: 0px 13px 26px #00000080;
  border-radius: 10px;
}

.singleroom .middle {
  display: block;
  margin: 0 auto;
}

.singleroom .small-text {
  font-size: 0.75em;
}

.singleroom .infomation p {
  text-align: center;
}

.singleroom .big {
  font-size: 1.8em;
}

.user .card {
  box-shadow: 0 19px 23px rgba(0,0,0,0.5);
}

.user .card-content {
  padding: 0;
}

.user .card-action {
  border: 0;
  padding: 8px 5px;
  text-align: center;
}

.Queue .queue-song-title {
  font-size: 0.8em;
}

.Queue .queue-song-author {
  font-size: 0.8em;
}

.Songs {
  height: 50%;
}

.Songs img {
  width: 20px;
  height: 20px;
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 50%;
}

.Songs li {
  margin: 0 0 5px 0;
}

.Songs li::marker {
  margin-top: -5px;
}

.Songs li div {
  display: flex;
}

.Songs li p {
  margin: 0;
  font-size: 1.3em;
}

.Users {
  height: 50%;
}

.Users img {
  width: 20px;
  height: 20px;
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 50%;
}

.Users li {
  margin: 0 0 5px 0;
}

.Users li::marker {
  margin-top: -5px;
}

.Users li div {
  display: flex;
}

.Users li p {
  margin: 0;
  font-size: 1.3em;
}

.Player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 -5px 23px rgba(0,0,0,0.5);
  z-index: 200;
}

.Player img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.Player .player-bar {
  position: relative;
  height: 10px;
  width: 90%;
  border-radius: 50px;
}

.Player .player-bar-fill {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 75%;
  height: 100%;
  border-radius: 50px;
  background-color: #FF6E40;
}

.Player .player-bar-dot {
  position: absolute;
  left: 72%;
  bottom: -2.5px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #FF6E40;
}

.Player .player-bar-dot:hover {
  bottom: -5px;
  height: 20px;
  width: 20px;
}

.Popup {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.7);
  z-index: 50;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.Popup .popup-close {
  position: absolute;
  right: 20px;
  top: 20px;
}

.Popup .popup-box {
  position: relative;
  height: 60%;
  width: 60%;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.Popup .popup-box::-webkit-scrollbar {
  display: none;
}

.SearchSongs input {
  width: 50% !important;
}

.SearchSongs .song-results {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, calc(20% - 10px));
  grid-template-rows: auto;
  column-gap: 10px;
}

.SearchSongs .card {
  width: 100%;
}

.SearchSongs img {
  width: 100%;
}

.SearchSongs .card-content {
  padding: 0;
}

.SearchSongs .card-action {
  text-align: center;
  border: none;
}

.SearchSongs .card-action p {
  margin: 0;
}

.user .col {
  padding: 0;
  margin: 0 10px;
}

.user .user-song-author {
  font-size: 0.8em;
} 

.all-users {
  display: grid;
  grid-template-columns: repeat(5, calc(20% - 20px));
  grid-template-rows: auto;
  column-gap: 20px;
  row-gap: 20px;
}

.all-users .card:active {
  background-color: #FF6E40 !important;
}

.Profile .profile-image {
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 150px;
  height: 45vh;
}

.Profile .profile-settings {
  height: 45vh;
}

.Profile .profile-settings ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Profile .profile-settings ul li span {
  position: relative;
  background-color: lightgray;
  width: 30px;
  height: 15px;
  border-radius: 50px;
  cursor: pointer;
}

.Profile .profile-settings ul li .settings-notify::after {
  content: '';
  position: absolute;
  width:50%;
  height: 100%;
  background-color: grey;
  border-radius: 50%;
  right: 50%;
}

.Profile .profile-settings ul li .settings-darkmode::after {
  content: '';
  position: absolute;
  width:50%;
  height: 100%;
  background-color: #ff6e40;
  border-radius: 50%;
  right: 0;
}

.Profile .profile-info {
  height: 45vh;
}

.Profile .profile-apps {
  height: 45vh;
}

.Profile .input-fullName {
  border: none !important;
  background-color: #00000000 !important;
  color: white !important;
  font-size: 32px !important;
}

.Profile .input-email, .Profile .input-password {
  border: none !important;
  background-color: #00000000 !important;
  color: white !important;
  font-size: 18px !important;
}

.Profile #save-btn {
  display: none;
}

@media only screen and (max-width: 600px) {
  .brand-logo {
    height: calc(58px - 10px);
  }

  .all-rooms {
    grid-template-columns: repeat(1, 100%);
    column-gap: 0;
    row-gap: 10px;
  }

  .all-users {
    grid-template-columns: repeat(2, calc(50% - 10px));
    column-gap: 20px;
    row-gap: 20px;
  }

  .all-users .card {
    margin: 0;
  }

  .room-back-arrow {
    left: 10px;
    top: -30px;
  }

  .CurrentlyPlaying {
    margin-bottom: 30px;
  }

  .Users {
    margin-bottom: 80px;
  }

  .sm-hide {
    display: none;
  }

  .Player {
    padding: 0 !important; 
    height: 60px;
  }

  .Player img {
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: auto;
  }

  .player-btns>div {
    position: absolute;
    top: 30%; right: 20px;
  }

  .player-btns div div i {
    font-size: 1.4em;
    margin-right: .25rem !important;
  }

  .player-img-txt img {
    margin: 0 !important;
    border-radius: 0;
  }

  .player-img-txt h6 {
    position: absolute;
    top: 24%;
    left: 18%;
  }

  .player-img-txt p {
    position: absolute;
    top: 48%;
    left: 18.5%;
  }

  .profile-sm {
    margin-top: 0.6rem !important;
  }

  .Popup {
    position: fixed;
  }

  .Popup .popup-box {
    height: 75%;
    width: 90%;
  }

  .searchsongs-input input {
    width: 100% !important;
  }

  .SearchSongs .song-results {
    margin-top: .75rem !important;
    grid-template-columns: repeat(2, calc(50% - 10px));
  }

  .Profile .profile-image {
    display: none;
  }

  .Profile .profile-settings {
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
    padding: 0 20% 0 10%;
    height: auto;
  }

  .Profile .profile-info {
    height: auto;
  }

  .Profile .profile-info .profile-btns {
    float: none !important;
  }

  #edit-btn {
    margin-bottom: 1rem !important;
  }
}